
<div class="container-fluid bg-2 text-center">
  <h2 class="display-3">About<br /><br /></h3>
  <h3 class="display-5 text-left">
Collab is a repository that promotes creative collaboration on a project.<br /><br />

Collab is more visual and interactive than traditional file systems but more organized than traditional digital interactions (email, facebook). The intention of the "Branch" and "Leaves" file structure and broad collaborator access is to help decentralize the process in an attempt at promoting creativity.<br /><br />

What Wikipedia is for facts and historical records, Collab aims to be for more creative topics. We are currently leveraging comments, notifications, branching, integration with youtube, and simple layouts using Bootstrap 4 to provide the most collaborative environment possible.
  </p>
</div>
