
<div class="container-fluid bg-2 text-center">
  <h2 class="display-3">About<br /><br /></h2>
  <p class="lead">
Collab is a repository that promotes creative collaboration on a project.<br /><br />

Collab is more visual and interactive than traditional file systems but more organized than traditional digital interactions (email, facebook). Collab follows a comment - leaf - branch idea development structure and broad collaborator access in order to  decentralize collaboration and promote creativity.<br /><br />

What Wikipedia is for facts and historical records, Collab aims to be for more creative topics. We are currently leveraging universal commenting, notifications, integration with youtube, simple and effective layouts using Bootstrap 4, and a comment - leaf branch architecture to provide the most collaborative environment possible.<br /><br />
  </p>

<hr class="my-4"><br /><br />

<h2 class="display-3">What is comment - leaf - branch architecture?</h2><br /><br />

  <p class="lead">
In this architecture a project has many branches which serve to categorize distinct ideas. These ideas can take the form of comments, leaves, and other branches. These three data structures represent ideas at varying degrees of development. A comment can be a nascent idea that just popped into your head after checking out someone else's branch. Then after doing some research you can turn your comment into a leaf or leaves after adding supporting youtube videos, links, or input from other collaborators. Finally after the leaves warrant their own repository they can be gathered into their own branch. The desired benefit from such an approach is to be able to organize all creative ideas (no matter how big or small) and allowing other collaboraters to provide input throughout its development. The goal is that such an environment would be superior for promoting creativity.
  </p>
</div>
