    <div class="row">
      <div class="col-lg-12">
        <h1 class='page-header'>
	  <small>comments</small>
        </h1>
      </div>
    </div>

    <% if @is_current_admin_collaborator %>
    <p>
      <%= render :partial => 'comments/add_comment', :locals => { :commentable_type => 'branch', :commentable_id => @branch.id} %>
    </p>
    <% end %>

<% if @branch_comments %>
  <%= comments_tree_for @branch_comments %>
<% end %>
