<div class="row" style="padding-bottom:65px;">
<nav class="navbar fixed-bottom navbar-light bg-faded">
  <div class="container text-center col-md-8 col-md-offset-2">
    <ul class="nav justify-content-center pagination">

      <li class="page-item">
        <%= link_to @branch.collabproject.name + ' collab', collab_project_path(@branch.collabproject), class: "nav-link"  %>
      </li>

      <% if @branch.parent_branch %>
        <li class="page-item">
          <%= link_to 'Parent Branch: ' + @branch.parent_branch.name, collab_project_branch_path(:collab_project_id => @branch.collabproject.id, :id => @branch.parent_branch.id), class: "nav-link"  %>
        </li>
      <% end %>

      <li class="page-item active">
        <a class="nav-link" href='#'><b><%= @branch.name %></b></a>
      </li>

    </ul>
  </div>
</nav>
</div>
