
<div class="col-sm-offset-3 col-sm-6 col-xs-12">
  <h1>New comment</h1>

  <% if @comment.parent %>
    <%= render 'comment', comment: @comment.parent, from_reply_form: true %>
  <% end %>

  <%= render 'form' %>
</div>
