
<div class="card">
  <p class="card-header text-center">Leaves</p>
  <div class="card-block">

    <div class="card">
      <div class="card-block">

        <ul class="nav nav-tabs" id="dashboard_leafs">
          <% @all_leaves.each do |leaf| %>
            <% leaf.id == @active_leaf.id ? leaf_status = 'active' : leaf_status = nil %>
            <%= render :partial => 'leafs/leaf_tab', :locals => { :leaf => leaf, :leaf_status => leaf_status }  %>
          <% end %>
        </ul>

	<div class="tab-content">
          <% @all_leaves.each do |leaf| %>
            <% leaf.id == @active_leaf.id ? leaf_status = 'active' : leaf_status = nil %>
            <%= render :partial => 'leafs/leaf_pane', :locals => { :leaf => leaf, :leaf_status => leaf_status }  %>
          <% end %>
        </div>

      </div>
    </div>

  </div>
  <div class="card-footer text-muted text-center">
    Leaves: <%= @all_leaves.count %>
  </div>
</div>
