
<div class="card">
  <h4 class="card-header text-muted text-center">Leaves <span class="badge badge-success"><%= @all_leaves.count %></span></h4>
  <div class="card-block">

    <div class="card">
      <div class="card-block">

        <ul class="nav nav-pills nav-fill align-items-end" id="dashboard_leafs" >
          <% @all_leaves.each do |leaf| %>
            <% leaf.id == @active_leaf.id ? leaf_status = 'active' : leaf_status = nil %>
            <%= render :partial => 'leafs/leaf_tab', :locals => { :leaf => leaf, :leaf_status => leaf_status }  %>
          <% end %>
        </ul>

	<div class="tab-content">
          <% @all_leaves.each do |leaf| %>
            <% leaf.id == @active_leaf.id ? leaf_status = 'active' : leaf_status = nil %>
            <%= render :partial => 'leafs/leaf_pane', :locals => { :leaf => leaf, :leaf_status => leaf_status }  %>
          <% end %>
        </div>

      </div>
    </div>

  </div>
</div>
