<div id="text-carousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <div class="carousel-inner">

                <div class="item active">
                    <div class="carousel-content">
                        <div>
                          <h4 class="display-4"><b>What is a "Collab" and how does its comment, leaf, branch archictecture work?</b></h4>
			  <p class="lead"><br /><br />A Collab is just a repository for organizing your creative ideas!</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-content">
                        <div>                          
                          <h4 class="display-4">A Collab can have many Branches (or folders) to organize the content within a project.<br /><br /></h4>
			  <p class="lead">These Branches can have their own Branches, which serve to further refine a folder's data at a more granular level.</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-content">
                        <div>                          
                          <h4 class="display-4">Each Branch (or folder) can have numerous Leaves (files) which represent discrete ideas that other collaboraters can comment on or edit.<br /></h4>
			  <p class="lead">Leaf data can come in the form of plain text provided by the collaborators, links to other sites, existing Youtube videos, or videos uploaded directly by the collaborators themselves!</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-content">
                        <div>
                          <h4 class="display-4">The purpose of this architecture is to follow a comment -> leaf -> branch evolution of ideas.<br /></h4>
			  <p class="lead">Ideas can start off as a simple comment on another collaborator's branch or leaf. Then when the idea can be better articulated with supporting sources (links, youtube videos, etc) the idea can be represented as a Leaf. When the Leaf itself has gained enough traction from other collaborator's leaves or comments it can evolve into it's own branch with leaves and comments from other collaborators!</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Controls --> <a class="left carousel-control" href="#text-carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
 <a class="right carousel-control" href="#text-carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

</div>
