<div class="jumbotron">
  <div class="container">
    <h1>Collaborate on ideas around the world!</h1>
    <p>Click the button below to create a new Collab.</p>
    <p>
      <%= link_to 'Create Collab now!', new_collab_project_path, class: 'btn btn-primary btn-lg' %>
    </p>
  </div>
</div>

<% if @collab_projects.any? %>
  <div class="container">
    <% @collab_projects.in_groups_of(3) do |group| %>
      <div class="row">
        <% group.each do |collab_project| %>
          <% if collab_project %>
            <%= render collab_project %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
