<div class="jumbotron">
  <div class="container">
    <h1>Collaborate on ideas around the world!</h1>
    <% if current_admin %>
      <p>Click the button below to create a new Collab.</p>
      <p>
        <%= link_to 'Create Collab now!', new_collab_project_path, class: 'btn btn-primary btn-lg' %>
      </p>
    <% else %>
      <p>Create an account in order to start collaborating on any projects.<p>
      <p>
	<%= link_to 'Register now!', new_registration_path(:admin), class: 'btn btn-primary btn-lg' %>
      </p>
    <% end %>
  </div>
</div>

  <% unless @collab_projects.empty? %>
    <div class="container">
      <div class="row">
      <div class="col-xs-12">
        <h1 class='page-header'>Projects you are collaborating on</h1>
              
              <% @collab_projects.in_groups_of(3) do |group| %>
                <div class="row">
                  <% group.each do |collab_project| %>
                    <% if collab_project %>
                      <%= render collab_project %>
                    <% end %>
                  <% end %>
                </div>
              <% end %>

      </div>
      </div>
    </div>
  <% end %>

  <% unless @collab_projects_all.empty? %>
    <div class="container">
      <div class="row">
      <div class="col-xs-12">
        <h1 class='page-header'>Public Projects</h1>

              <% @collab_projects_all.in_groups_of(3) do |group| %>
                <div class="row">
                  <% group.each do |collab_project| %>
                    <% if collab_project %>
                      <%= render collab_project %>
                    <% end %>
                  <% end %>
                </div>
              <% end %>

      </div>
      </div>
    </div>
  <% end %>
